.registration-container {
  border: 1px solid #ddd;
  padding: 30px;
  padding-right: 48px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  background: #f9f9f9;
  text-align: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
  color: #344b9c;
  margin-bottom: 15px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.registration-form input:focus {
  border-color: #1461b3;
  box-shadow: 0 0 5px rgba(11, 54, 101, 0.4);
}

.registration-form button {
  background: #083c75;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.registration-form button:hover {
  background: #043a6f;
}

.error-message {
  color: red;
  margin-top: 10px;
}
